<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/review.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/review_header.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
</head>
<body>


<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="header">

                    <div class="slider">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->

                            <div class="carousel-inner" role="listbox">

                                    <div class="active item">
                                        <img style="height:415px; width: 1200px" class="flat-color-gen">
                                        <div class="carousel-caption" style="bottom: 43%">
                                            <h1>&ldquo;{{ quotes[0] }}&rdquo;</h1>
                                        </div>
                                    </div>

                                {% for i in range(1,quotes|length) %}
                                    <div class="item">
                                        <img  style="height:415px; width: 1200px" class="flat-color-gen">
                                        <div class="carousel-caption" style="bottom: 43%">
                                            <h1>&ldquo;{{ quotes[i] }}&rdquo;</h1>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>


                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div><!--slider-->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#" style="background: #c0c0c0; border-radius: 10px;">
                                <img class="img-responsive">
                                <h1 style="margin-top: 30%; font-weight: bold; color: white; text-shadow: 0px 2px 2px black;">{{ item_abreviation }}</h1>

                            </a>
                            <span class="site-name">{{ item_name }}</span>
                            <span class="site-description"><b>{{ overall_float }} Stars</b></span>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="mainNav" >
                            <ul class="nav main-menu navbar-nav">
                                <li><a href="/"><i class="fa fa-home"></i> HOME</a></li>
                                <li><a href="{{ url }}" target="_blank"><i class="fa fa-yelp"></i> Yelp Page</a></li>
{#                                <li><a href="#">Link</a></li>#}
{#                                <li><a href="#">Link</a></li>#}
                                <li>
                                <form id="home_form" action="/review-it" method="get" style="margin: 0; padding-top: 10px;">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name='url' placeholder="URL" required style="width: 100%">
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-danger" type="submit">Analyze Reviews</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"></div>
                                    </div>
                                </form>
                                </li>
                            </ul>
                            <ul class="nav  navbar-nav navbar-right" style="visibility: hidden">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </header><!--/#HEADER-->
            </div>
        </div>
    </div>
</div>


<div id="main-content">
<div class="container">
	<div class="row" style="background-color: #fcfcfc; width: 100%; margin-left: auto; margin-right: auto; padding: 0 30px 0 30px;">
    <h4><b>Item: </b>{{ item_name }}</h4>
        {% for cluster in clusters %}

		<div class="row" style="padding-top: 30px;">
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        {% if cluster['num_stars'] == 1  %}
                            <i class="material-icons img-box img-thumbnail" style="font-size: 132px; color: white;background: #E57373;border-radius: 20%;">sentiment_very_dissatisfied</i>
                        {% elif  cluster['num_stars'] == 2 %}
                            <i class="material-icons img-box img-thumbnail" style="font-size: 132px; color: white;background: #F9A825;border-radius: 20%;">sentiment_dissatisfied</i>
                        {% elif  cluster['num_stars'] == 3 %}
                            <i class="material-icons img-box img-thumbnail" style="font-size: 132px; color: white;background: #cfdd44;border-radius: 20%;">sentiment_neutral</i>
                        {% elif  cluster['num_stars'] == 4 %}
                            <i class="material-icons img-box img-thumbnail" style="font-size: 132px; color: white;background: #9ccc65;border-radius: 20%;">sentiment_satisfied</i>
                        {% else %}
                            <i class="material-icons img-box img-thumbnail" style="font-size: 132px; color: white;background: #29b6f6;border-radius: 20%;">sentiment_very_satisfied</i>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                     {% for j in range(0,cluster['num_stars']) %}
                                         <i class="fa fa-star" aria-hidden="true" style="font-size: 24px;"></i>
                                     {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h4><i><b>&ldquo;{{ cluster['simple_sentence_str'] }}&rdquo;</b></i> - this was talked about {{ cluster['cluster_size'] }} times</h4>
{#                        <p>{{ cluster['full_sentence_str'] }}</p>#}
                    {% for i in range(0,cluster['num_to_display']) %}
                        <p>{{  cluster['cluster'][i].simplified_sentence.text }} ---- ({{ cluster['cluster'][i].full_sentence.text }})</p>
                        {% endfor %}
                    </div>
                </div>
                <hr>

        {% endfor %}
	</div>
</div>

</div>
    <script src="{{ url_for('static', filename='js/flatColor.js') }}"></script>
</body>
</html>